%reset{
  margin:0;
  padding:0;
}
body,p,pre,h1,h2,h3,h4,h5,h6{
  @extend %reset;
  padding:0;
  font-family:"书体坊米芾体" ;
  // background:url(../img/9.jpg);

}
ul,li{
  @extend %reset;
  list-style:none;
}
.imgs{
  width:100%;
  height:100%;
  overflow: hidden;
  img{
    width:100%;
  }
}
#save {
  display: none;
  padding: 30px;
  background: #62a9ec;
  color: #000;
  position: fixed;
  top: 0;
  right: 0;
}

#canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;

}

.cartel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.cartel .tips:hover #close::after {
  opacity: 1;
  transform: none;
}

.cartel .tips {
  width: 400px;
  background: #fff;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background:url(../img/12.jpg);
}

.cartel .tips #close::after {
  opacity: 0;
  transform: scale(0.8, 0.8);
  transition: transform .6s ease, opacity .6s ease;
  content: '✖';
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index:100;
  background:black;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-family: "consolas";
}
.cartel .tips{
  h6{
    font-size: 60px;
    margin-top: 50px;
  }
}
.cartel .tips .imgs{
  height:60px;
  margin-top: 50px;
  float:left;
}
.cartel .tips span {
  cursor: pointer;
  margin-top: 100px;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-size:40px;
  float:left;
}
.cartel .tips p{

}
